Q1. Write an SQL query to determine the 5th highest salary without using TOP or limit
   method.
Ans:SELECT first_name, last_name, dept_name,current_salary FROM ( SELECT first_name, last_name,dept_name, current_salary,       ROW_NUMBER() over( order by current_salary desc) as highest_salary FROM worker )
    worker WHERE highest_salary <= 5 
    
    
Q2. Write an SQL query to fetch the list of employees with the same salary.
Ans: CREATE TABLE employee 
    (
    emp_id INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    salary INT
    );

INSERT INTO employee VALUES
(1,'nisha','rathi',1000),
(2,'riya','giri',2000),
(3,'amit','kumar',550),
(4,'mahesh','jadhav',1500),
(5,'naira','rathi',1000),
(6,'yashi','rathi',1500);

SELECT * FROM employee ORDER BY salary ASC;