In [ ]:
Q1.  Write an SQL query to show the top n (say 10) records of a table.
Ans: SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

    OR

    select top 10 * from worker; 
    

Q2. Write an SQL query to determine the nth (say n=5) highest salary from a table.
Ans: SELECT DISTINCT(Salary) FROM Worker ORDER BY DESC LIMIT 1 OFFSET 5;
     OR 
    SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT 5,1; where n = 5
     OR
    select top 10 * from worker order by current_salary desc;